.block404 {
  position: relative;
  background-image: url("https://imgur.com/eHVyWTM.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
}

/* 404 Text */
.t404 {
  position: absolute;
  width: 364px;
  height: 146px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("https://imgur.com/KPZo9YX.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

/* Floating object */
.obj {
  width: 204px;
  height: 209px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animation-404 6s infinite ease-in-out;
  z-index: 3;
}

.obj img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Animation */
@keyframes animation-404 {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(0);
  }
  50% {
    transform: translate(-53%, -42%) rotate(-5deg);
  }
}

/* Glitch waves */
.waves {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://imgur.com/eHVyWTM.jpg");
  background-size: cover;
  background-position: center;
  filter: url("#glitch");
  z-index: 1;
}